[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rpart"]
	path = rpart
	url = https://github.com/bethatkinson/rpart
[submodule "survivalVignettes"]
	path = survivalVignettes
	url = https://github.com/bethatkinson/survivalvignettes
